.desk{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;

}
.letters{
    height: 89px;
    width: 89px;
    text-align: center;
    margin-left: 12px;
}
.main{
    margin-right: 20px;
}
.first_row{
    margin-top: -50px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
}
.cells_black{
    background-color: #b58863;
    height: 100px;
    width: 100px;
}
.cells_white{
    background-color:  #f0d9b5;
    height: 100px;
    width: 100px;
}
.row{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
}