header{
    height: 125px;
    width: 110%;
    background-color: #F44336;
    margin-top: -20px;
    margin-left: -10px;
}
footer{
    height: 100px;
    width: 110%;
    background-color: #333;
    color: #FFF;
    margin-top: -20px;
    padding-top: 50px;
    margin-left: -10px;
    text-align: center;
}
li{
    display: inline; 
}
main{
    height: 1000px;
    width: 110%;
}
.f_li{
    list-style-type: none;
    text-align: center;
    color: white;
    line-height: 7.0;
    margin-right: 12%;
    margin-left: 12%;
    font-family: 'Roboto', sans-serif;
}
.f_button{
    background-color: #FFF;
    color: #F44336;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}
.s_li{
    list-style-type: none;
    text-align: center;
    color: black;
    line-height: 7.0;
    margin-right: 3.5%;
    margin-left: 3.5%;
    font-family: 'Roboto', sans-serif;
}
.s_button{
    background-color: #23177f;
    color: #f2f2f2;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}
.t_button{
    background-color: #8b6e6e;
    color: #F44336;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}
.photo{
    border-radius: 20px;
    width: 91%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.pizza-item {
    text-align: left;
}

.pizza-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.pizza-name {
    font-weight: bold;
    margin-top: 10px;
}

.pizza-price {
    color: #888;
}